.heroHeader {
    position: relative;
    /* Changed to relative to position text */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.heroCanvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    /* Ensure canvas is positioned absolutely */
    top: 0;
    left: 0;
    z-index: 2;
    /* Ensure canvas is above the text */
    pointer-events: none;
    /* Allow clicks to pass through */
    opacity: 0.95;
    /* Set opacity to allow text visibility */
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Adjust color based on your theme */
    text-align: center;
    z-index: 1;
    /* Ensure text is below the canvas */
}

.heroHeaderDark {
    background-color: #2F3537;
}

.heroHeaderLight {
    background-color: #FFF;
}